<% if current_user.present? === false %>


<section class="home-hero transparent">
  
  <div class="description-text-area">
    <h1>Please sign up</h1>  
    <%= render 'users/form' %>
    
  </div>
</section>


<% else %>
<h1>Made account / Logged in / Root Page</h1>

<% end %>


