<% if current_user.present? === false %>
<h1>Please sign up</h1>

<%= render 'users/form' %>

<section class="home-hero">

</section>


<% else %>
<h1>Made account / Logged in / Root Page</h1>

<% end %>
