<section class="home-hero transparent">
<% if current_user.present? === false %>
    <div class="description-text-area">
      <div class="logo">
        <h1 class="user new">Book, teach, enroll...</h1>
        <%= image_tag 'logo.png', width: "100"%>
      </div>

      <%= render 'users/form' %>
    <% end %>
  </section>
</div>

<section class = "root-item">
    <!-- <h1>Made account / Logged in / Root Page</h1>
    <p>Popular Courses</p>
    <%= render 'shared/courses_index', courses: Course.all.limit(8) %>
    <p>Popular Rooms</p>
    <%= render 'shared/rooms_index', rooms: Room.all.limit(8) %>
</section>