<% if current_user.present? === false %>



<section class="home-hero">
  <h1>Please sign up</h1>
  <%= render 'users/form' %>
</section>


<% else %>
<h1>Made account / Logged in / Root Page</h1>

<% end %>


