<%= @user.full_name %>
<div>
    Pendding lists
    (as a owner)
    <%= render 'shared/rooms_index' %>
</div>
<div>
    Pendding lists
    (as a teacher)
    <%= render 'shared/courses_index' %>
</div>
<div>
    Pendding lists
    (as a student)
    <%#=  %>
</div>