<div class="container">
    <h1 class="new user">All Courses</h1><br />
     <% flash.each do |type, message| %>
        <div>
        <%= message%>
        </div>
    <% end %>
    <%= render 'shared/courses_index', courses: @courses %>
</div>